[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "brunnermunzel"]
	path = brunnermunzel
	url = https://github.com/toshi-ara/brunnermunzel
	shallow = true
	registered = true
[submodule "CIplot"]
	path = CIplot
	url = https://github.com/toshi-ara/ciplot
	shallow = true
	registered = true
[submodule "makedummies"]
	path = makedummies
	url = https://github.com/toshi-ara/makedummies
	shallow = true
	registered = true
